<form>
  <div id="character-container">
    <div class="character" data-actor-id="{{ actor._id }}">
      <img src="{{ actor.img }}" alt="{{ actor.name }}" class="portrait">
      <div class="health-bar">
        <div class="health-fill"></div>
      </div>
    </div>
  </div>
  <div id="turn-order-display"></div>
  <div id="action-buttons">
    <button type="button">Start Turn</button>
    <button type="button">End Turn</button>
    <button type="button">Ready</button>
    <button type="button">Delay</button>
  </div>
</form>
