<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/modules/jrpg-ui-module/styles/style.css">
</head>

<body>
    <div id="jrpg-ui-button-container" class="sidebar-top-buttons"></div>

    <div class="lod-ui">
        <h2 class="lod-ui-title">Aethon Skies</h2>
        <ul id="character-list">
            {{#each characters}}
            <li class="character-item" data-actor-id="{{_id}}">
                <div class="portrait-container">
                    <img src="{{portrait}}" alt="{{name}}'s Portrait" class="character-portrait" width="80" height="80">
                </div>
                <div class="character-info">
                    <span class="character-name">{{name}}</span>
                    <span class="hp">HP: {{hp}}/{{maxHp}} ({{healthPercentage}}%)</span>
                    <span class="ac">AC: {{ac}}</span>
                </div>
                <div class="stat-container">
                    <span class="ancestry">{{ancestry}}</span>
                    <span class="class">{{class}}</span>
                    <span class="heritage">{{heritage}}</span>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</body>

</html>
