<div class="character-sheet">
    <h2>{{ actor.name }}</h2>
    <img src="{{ actor.img }}" alt="{{ actor.name }}" class="character-portrait">

    <div class="stats">
        <h3>Attributes</h3>
        <ul>
            <li>
                <span>Strength:</span> {{ system.abilities.str.value }} ({{ system.abilities.str.mod }})
            </li>
            <li>
                <span>Dexterity:</span> {{ system.abilities.dex.value }} ({{ system.abilities.dex.mod }})
            </li>
            <li>
                <span>Constitution:</span> {{ system.abilities.con.value }} ({{ system.abilities.con.mod }})
            </li>
            <li>
                <span>Intelligence:</span> {{ system.abilities.int.value }} ({{ system.abilities.int.mod }})
            </li>
            <li>
                <span>Wisdom:</span> {{ system.abilities.wis.value }} ({{ system.abilities.wis.mod }})
            </li>
            <li>
                <span>Charisma:</span> {{ system.abilities.cha.value }} ({{ system.abilities.cha.mod }})
            </li>
        </ul>
    </div>


</div>
